@using StudentSupportSystem.Model
@using StudentSupportSystem.Pages.Modal
@using StudentSupportSystem.Utility
@using StudentSupportSystem.ViewModel;
@using StudentSupportSystem.Service.Interface;
@using StudentSupportSystem.Service.Implement;
@using Newtonsoft.Json;

@page "/ProfileStudent/{MasterId:int}"

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text"></div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">นักศึกษา</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">จัดการนักศึกษา</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">เพิ่มนักศึกษา</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><b>รายละเอียด</b></h4>
                        <div class="pull-right">
                            <ModalAddCommitCrimeStd StudentProfile="_viewModel?.StudentProfile" />
                            <ModalHistoryCommitCrimeStd StudentSupportMaster="_viewModel?.studentSupportMst" />
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="pull-right">
                                    <p class="card-title text-center">แนบรูปภาพ</p>
                                    <InputFile hidden type="file" OnChange="HandleFileSelected" id="upload-image" accept="image/*" />
                                    <label for="upload-image">
                                        @if (_viewModel.ImageDataUrl != null)
                                        {
                                            <img class="upload-image-user" src="@_viewModel.ImageDataUrl"
                                                 width="160" height="185" />
                                        }
                                        else
                                        {
                                            <img class="upload-image-user" src="/images/upload_image_std.jpg"
                                                 width="160" height="185" />
                                        }
                                    </label>
                                    @if (_viewModel.ImageDataUrl != null)
                                    {
                                        <button type="button"
                                                class="btn btn-square btn-outline-danger btn-block" @onclick="OnRemoveFile">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label class="card-title">ค้าหาจาก</label>
                                        <select disabled="@_viewModel.IsModeEdit" id="selSearchStd" class="form-control" @onchange="OnSelectTypeSearch">
                                            <option disabled selected="">===กรุณาเลือก===</option>
                                            <option value="1">รหัสนักศึกษา</option>
                                            <option value="2">ชื่อ-สกุล</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">ค้นหา</label>
                                        <select class="form-control w-100" id="search-data-std" @bind="@selectedValue"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ระดับ</label>
                                        <select disabled id="levelStd" @bind="_viewModel.StudentProfile.GenreStd" class="form-control">
                                            <option disabled selected="">===กรุณาค้นหา===</option>
                                            <option value="1">ปวช</option>
                                            <option value="2">ปวส</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">รหัสนักศึกษา</label>
                                        <input disabled="@_viewModel.IsModeEdit" id="noStd" readonly type="text" @bind="_viewModel.StudentProfile.IdStd" class="form-control"
                                               placeholder="รหัสนักศึกษา" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">คำนำหน้า</label>
                                        <select disabled id="prefixStd" @bind="_viewModel.StudentProfile.GenderStd" class="form-control">
                                            <option value="1">นาย</option>
                                            <option value="2">นางสาว</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ชื่อ</label>
                                        <input disabled="@_viewModel.IsModeEdit" id="fNameStd" readonly @bind="@_viewModel.StudentProfile.firstNameStd" type="text" class="form-control" placeholder="ชื่อ" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">สกุล</label>
                                        <input disabled="@_viewModel.IsModeEdit" id="lNameStd" readonly @bind="@_viewModel.StudentProfile.lastNameStd" type="text" class="form-control" placeholder="สกุล" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">ชื่อเล่น</label>
                                        <input disabled="@_viewModel.IsModeEdit" id="nickNameStd" @bind="@_viewModel.studentSupportMst.StdNicName" type="text" class="form-control" placeholder="ชื่อเล่น" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">สาขา</label>
                                        <input disabled="@_viewModel.IsModeEdit" readonly type="text" class="form-control" @bind="_viewModel.StudentProfile.BranchNameStd" placeholder="สาขา" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ระดับชั้น</label>
                                        <input disabled="@_viewModel.IsModeEdit" readonly type="text" class="form-control" @bind="_viewModel.StudentProfile.DegreeStd" placeholder="ระดับชั้น" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ห้อง</label>
                                        <input disabled="@_viewModel.IsModeEdit" readonly type="text" class="form-control" @bind="_viewModel.StudentProfile.SectionStd" placeholder="ห้อง" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">เกิดวันที่</label>
                                        <input disabled="@_viewModel.IsModeEdit" type="text" class="form-control" placeholder="วันที่" @bind="_viewModel.StdDateOfBirth.Day" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">เดือน</label>
                                        <select disabled="@_viewModel.IsModeEdit" id="inputState" class="form-control" @bind="_viewModel.StdDateOfBirth.Month">
                                            <option disabled selected="0">===กรุณาเลือก===</option>
                                            <option value="1">มกราคม</option>
                                            <option value="2">กุมภาพันธ์</option>
                                            <option value="3">มีนาคม</option>
                                            <option value="4">เมษายน</option>
                                            <option value="5">พฤษภาคม</option>
                                            <option value="6">มิถุนายน</option>
                                            <option value="7">กรกฎาคม</option>
                                            <option value="8">สิงหาคม</option>
                                            <option value="9">กันยายน</option>
                                            <option value="10">ตุลาคม</option>
                                            <option value="11">พฤศจิกายน</option>
                                            <option value="12">ธันวาคม</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">ปี (พ.ศ.)</label>
                                        <input disabled="@_viewModel.IsModeEdit" type="text" class="form-control" placeholder="ปี (พ.ศ.) เกิด" @bind="_viewModel.StdDateOfBirth.Year" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">เบอร์โทร</label>
                                        <input disabled="@_viewModel.IsModeEdit" type="text" class="form-control" @bind="_viewModel.studentSupportMst.StdPhone" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">เบอร์โทรผู้ปกครอง</label>
                                        <input disabled="@_viewModel.IsModeEdit" type="text" class="form-control" @bind="_viewModel.studentSupportMst.ParentsPhone" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ชื่อหมู่บ้าน</label>
                                        <input disabled="@_viewModel.IsModeEdit" type="text" class="form-control" @bind="@_viewModel.StudentSupportAddress.VillageName" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">หมู่ที่</label>
                                        <input disabled="@_viewModel.IsModeEdit" type="text" class="form-control" @bind="@_viewModel.StudentSupportAddress.VillageNo" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">จังหวัด</label>
                                        <select disabled="@_viewModel.IsModeEdit" class="form-control" @bind="_viewModel.ProvinceId">
                                            <option disabled selected value="">===กรุณาเลือก===</option>
                                            @foreach (var p in _viewModel.LstPovince)
                                            {
                                                <option value="@p.Id">@p.NameInThai</option>
                                            }
                                        </select>

                                    </div>
                                    @if (_viewModel.IsModeEdit)
                                    {
                                        <div class="form-group col-md-3">
                                            <label class="card-title">อำเภอ</label>
                                            <select class="form-control" @bind="_viewModel.DistrictId" disabled="@_viewModel.IsModeEdit">
                                                <option disabled selected value="">===กรุณาเลือก===</option>
                                                @foreach (var d in _viewModel.LstDistrict)
                                                {
                                                    <option value="@d.Id">@d.NameInThai</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group col-md-3">
                                            <label class="card-title">อำเภอ</label>
                                            <select class="form-control" @bind="_viewModel.DistrictId" disabled="@_viewModel.IsDistrict">
                                                <option disabled selected value="">===กรุณาเลือก===</option>
                                                @foreach (var d in _viewModel.LstDistrict)
                                                {
                                                    <option value="@d.Id">@d.NameInThai</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    @if (_viewModel.IsModeEdit)
                                    {
                                        <div class="form-group col-md-3">
                                            <label class="card-title">ตำบล</label>
                                            <select class="form-control" @bind="_viewModel.SubDistrictId" disabled="@_viewModel.IsModeEdit">
                                                <option disabled selected value="">===กรุณาเลือก===</option>
                                                @{
                                                    if (_viewModel.LstSubDistrict != null)
                                                    {
                                                        foreach (var d in _viewModel.LstSubDistrict)
                                                        {
                                                            <option value="@d.Id">@d.NameInThai</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group col-md-3">
                                            <label class="card-title">ตำบล</label>
                                            <select class="form-control" @bind="_viewModel.SubDistrictId" disabled="@_viewModel.IsSubDistrict">
                                                <option disabled selected value="">===กรุณาเลือก===</option>
                                                @{
                                                    if (_viewModel.LstSubDistrict != null)
                                                    {
                                                        foreach (var d in _viewModel.LstSubDistrict)
                                                        {
                                                            <option value="@d.Id">@d.NameInThai</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    }
                                    <div class="form-group col-md-3">
                                        <label class="card-title">รหัสไปรษณีย์</label>
                                        <input disabled="@_viewModel.IsModeEdit" readonly type="text" class="form-control" @bind-value="_viewModel.ZipCode" />
                                    </div>
                                    <fieldset class="form-group col-md-4">
                                        <label class="col-form-label card-title">ปัจจุบันพักอยู่กับ</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input disabled="@_viewModel.IsModeEdit" class="form-check-input" id="CurrentlyLivingWith-1" type="radio"
                                                       name="gridRadios" value="1" @onclick="() => OnClickCurrentlyLivingWith(1)" />
                                                <label class="form-check-label card-title" for="CurrentlyLivingWith-1">
                                                    บิดามารดา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input disabled="@_viewModel.IsModeEdit" class="form-check-input" id="CurrentlyLivingWith-2" type="radio"
                                                       name="gridRadios" value="2" @onclick="() => OnClickCurrentlyLivingWith(2)" />
                                                <label class="form-check-label card-title" for="CurrentlyLivingWith-2">
                                                    บิดา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input disabled="@_viewModel.IsModeEdit" class="form-check-input" id="CurrentlyLivingWith-3" type="radio"
                                                       name="gridRadios" value="3" @onclick="() => OnClickCurrentlyLivingWith(3)" />
                                                <label class="form-check-label card-title" for="CurrentlyLivingWith-3">
                                                    มารดา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input disabled="@_viewModel.IsModeEdit" class="form-check-input" id="CurrentlyLivingWith-4" type="radio"
                                                       name="gridRadios" value="4" @onclick="() => OnClickCurrentlyLivingWith(4)" />
                                                <label class="form-check-label card-title" for="CurrentlyLivingWith-4">
                                                    บุคคลอื่น(ระบุ)
                                                </label>
                                                <div class="form-group" id="other-person-input" style="display: @(_viewModel.IsCurrentlyLivingWithOther ? "block" : "none")">
                                                    <label class="text-dark" for="other-person">โปรดระบุ:</label>
                                                    <input disabled="@_viewModel.IsModeEdit" type="text" class="form-control" id="other-person" @bind="@_viewModel.studentSupportMst.CurrentlyLivingWithOther" />
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ค้นหาอาจารย์ที่ปรึกษา</label>
                                        <select class="form-control w-100" id="search-data-teacher"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label class="card-title">คำนำหน้า</label>
                                        <select disabled="@_viewModel.IsModeEdit" readonly id="prefixStd" @bind="_viewModel.TeacherProfile.GenderTeacher" class="form-control">
                                            <option value="1">นาย</option>
                                            <option value="2">นาง</option>
                                            <option value="3">นางสาว</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label class="card-title">ชื่อ</label>
                                        <input disabled="@_viewModel.IsModeEdit" readonly type="text" class="form-control" @bind="_viewModel.TeacherProfile.firstNameTeacher" placeholder="ชื่อ" />
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label class="card-title">สกุล</label>
                                        <input disabled="@_viewModel.IsModeEdit" readonly type="text" class="form-control" @bind="_viewModel.TeacherProfile.lastNameTeacher" placeholder="สกุล" />
                                    </div>
                                </div>
                                @*     <div class="form-row">
                                    <h4 class="card-title">
                                    <b>นักศึกษาที่กระทำผิดระเบียบวินัยมีพฤติกรรมที่ไม่เหมาะสม</b>
                                    </h4>
                                    </div>
                                    <div class="form-row">
                                    <div class="form-group col-md-offset-12">
                                    <label class="card-title">จำนวนครั้ง</label>
                                    <input id="unit-test" type="number" class="form-control text-lg-center" value="1" />
                                    </div>
                                    </div>
                                    <div class="form-row">
                                    @for (var index = 0; index < _viewModel.LstBreachDisciplineMst.Count; index++)
                                    {
                                    <div class="form-group col-md-4">

                                    @for (var row = 1; row <= 3; row++)
                                    {
                                    var idCheck = $"check{index}{row}";
                                    var itemId = _viewModel.LstBreachDisciplineMst[index].Id;
                                    <div class="form-check mb-2">
                                    <input type="checkbox"
                                    class="form-check-input"
                                    id="@idCheck"
                                    value="@itemId"
                                    @onchange="(e) => UpdateSelectedIds(itemId, e.Value)">
                                    <label class="form-check-label" for="@idCheck">
                                    <b class="card-title">@_viewModel.LstBreachDisciplineMst[index].Name</b>
                                    </label>
                                    </div>
                                    index++;
                                    }
                                    </div>
                                    }
                                    </div>
                                *@
                                <div class="pull-right">
                                    @if (_viewModel.IsModeEdit)
                                    {
                                        <button type="button" @onclick="OnSetCancelEdit"
                                                class="btn btn-square btn-warning px-lg-5">
                                            <i class="fa fa-edit"></i> @ResourceSystemMessenger.Edit
                                        </button>
                                        <button type="button" @onclick="async () => { await _viewModel.RemoveStudentSupportMaster(MasterId); }"
                                                class="btn btn-square btn-danger px-lg-5">
                                            <i class="fa fa-close"></i> @ResourceSystemMessenger.Delete
                                        </button>
                                    }
                                    @if (!_viewModel.IsModeEdit)
                                    {
                                        <button type="button" @onclick="OnSave"
                                                class="btn btn-square btn-success px-lg-5">
                                            <i class="fa fa-save"></i> @ResourceSystemMessenger.Save
                                        </button>
                                        <button hidden="@_viewModel.IsModeEdit" type="button" @onclick="OnClear"
                                                class="btn btn-square btn-warning px-lg-5">
                                            <i class="fa fa-refresh"></i> @ResourceSystemMessenger.ClearData
                                        </button>
                                        <button type="button" @onclick="OnSetEdit"
                                                class="btn btn-square btn-danger px-lg-5">
                                            <i class="fa fa-close"></i> @ResourceSystemMessenger.Cancel
                                        </button>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@inject IJSRuntime JSRuntime;
@inject ProfileStudentSupportMasterViewModel _viewModel;
@inject IDialogService _dialogService;
@code {
    [Parameter]
    public int MasterId { get; set; }
    private bool ShowOtherPersonInput { get; set; }
    private string selectedValue { get; set; }

    protected async override Task OnInitializedAsync()
    {
        _viewModel.PropertyChanged += (sender, args) =>
        {
            InvokeAsync(StateHasChanged);
        };
        await _viewModel.GetPovince();
        await _viewModel.GetBreachDisciplineMst();
        await _viewModel.LoadDataEdit(MasterId);
        _viewModel.ModeEdit = StateData.Edit;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var objRef = DotNetObjectReference.Create(this);
                await JSRuntime.InvokeVoidAsync("loadScript", "./js/view/ProfileStudentSupportMaster.js");
                await JSRuntime.InvokeVoidAsync("initializeSelect2SearchDataStd", objRef);
                await JSRuntime.InvokeVoidAsync("initializeSelect2SearchDataTeacher", objRef);
            }
            catch (Exception ex)
            {
                await _dialogService.DialogErrorAsync(ex);
            }
        }
    }

    private async void OnSelectTypeSearch(ChangeEventArgs e)
    {
        if (e?.Value != null)
        {
            _viewModel.SelectTypeSearch = int.Parse(e.Value.ToString());
            _viewModel.IsSearchStd = true;
        }
        else
        {
            _viewModel.IsSearchStd = false;
        }
        await JSRuntime.InvokeVoidAsync("SetSelect2SearchStd", _viewModel.IsSearchStd, _viewModel.SelectTypeSearch);
    }

    private void OnClickCurrentlyLivingWith(int data)
    {
        _viewModel.SetCurrentlyLivingWith(data);
    }

    private async Task OnSetEdit(MouseEventArgs e)
    {
        _viewModel.ModeEdit = StateData.Edit;
        StateHasChanged();
    }

    private async Task OnSetCancelEdit(MouseEventArgs e)
    {
        _viewModel.ModeEdit = StateData.Nothing;
        StateHasChanged();
    }

    private async Task OnSave(MouseEventArgs e)
    {
        var state = await _dialogService.DialogYesOrNo(ResourceSystemMessenger.AreYouSureYouWantToUpdate);
        if (state)
        {
            //await _viewModel.OnSaveData();
        }
    }

    private async Task OnClear(MouseEventArgs e)
    {
        var state = await _dialogService.DialogYesOrNo(ResourceSystemMessenger.AreYouSureYouWantToClearYourData);
        if (state)
        {
            await _viewModel.OnClearFrom();
            await OnRemoveFile(e);
        }
    }

    [JSInvokable]
    public Task OnSelectStdChange(System.Text.Json.JsonElement value)
    {
        var data = value.ToString();
        if (!string.IsNullOrEmpty(value.ToString()))
        {
            _viewModel.StudentProfile = JsonConvert.DeserializeObject<StudentModel?>(value.ToString());
            StateHasChanged();
        }
        Console.WriteLine(data);
        return Task.FromResult(true);
    }

    [JSInvokable]

    public Task OnSelecTeacherChange(System.Text.Json.JsonElement value)
    {
        var data = value.ToString();
        if (!string.IsNullOrEmpty(value.ToString()))
        {
            _viewModel.TeacherProfile = JsonConvert.DeserializeObject<TeacherModel?>(value.ToString());
            StateHasChanged();
        }
        Console.WriteLine(data);
        return Task.FromResult(true);
    }

    private void UpdateSelectedIds(int id, object obj)
    {
        var isChecked = (bool)obj;
        if (isChecked)
        {
            // If checked, add to the list
            if (!_viewModel.lstBreachDisciplineMstId.Contains(id))
            {
                _viewModel.lstBreachDisciplineMstId.Add(id);
            }
        }
        else
        {
            // If unchecked, remove from the list
            _viewModel.lstBreachDisciplineMstId.Remove(id);
        }
    }


    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            try
            {
                const int maxFileSize = 4 * 1024 * 1024; // Set to 4 MB or your desired limit
                using var stream = file.OpenReadStream(maxFileSize);
                var buffer = new byte[file.Size];
                await stream.ReadAsync(buffer);
                _viewModel.ImageDataUrl = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
                _viewModel.FileImageStd = file;
                _viewModel.SetFileCenter(file);
            }
            catch
            {
                _dialogService.DialogWarning("ขนาดไฟล์ ต้องไม่เกิน 4 MB");
            }
        }
    }

    private async Task OnRemoveFile(MouseEventArgs e)
    {
        _viewModel.ImageDataUrl = null;
        _viewModel.RemoveFileCenter();
    }
}
